.app-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
    margin: 100px auto;
    width: 1200px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    border-radius: 10px;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th,
  td {
    border: 1px solid #ffffff;
    text-align: center;
    padding: 8px;
    font-size: 18px;
    color: #ffffff;
  }
  
  th {
    background-color: rgb(172, 180, 187);
  }
  
  td {
    background-color: rgb(175, 168, 29);
  }
  
  form {
    display: flex;
    gap: 5px;
  }
  
  form td:last-child {
    display: flex;
    justify-content: space-evenly;
  }
  
  